USE [master]
GO
/****** Object:  Database [PedidosDeInsumosDeOficina]    Script Date: 8/5/2022 22:12:28 ******/
CREATE DATABASE [PedidosDeInsumosDeOficina]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PIO', FILENAME = N'C:\DATA\PIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PIO_log', FILENAME = N'C:\DATA\PIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PedidosDeInsumosDeOficina].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PedidosDeInsumosDeOficina]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 8/5/2022 22:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[ID_Categoria] [char](4) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 8/5/2022 22:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[ID_Empleado] [int] NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Departmento] [varchar](50) NOT NULL,
	[JefeDepartamento] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Employee_1] PRIMARY KEY CLUSTERED 
(
	[ID_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 8/5/2022 22:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ID_Item] [int] IDENTITY(1,1) NOT NULL,
	[ID_Orden] [int] NOT NULL,
	[ID_Producto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[ID_Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordenes]    Script Date: 8/5/2022 22:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordenes](
	[ID_Orden] [int] IDENTITY(1,1) NOT NULL,
	[ID_Empleado] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID_Orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 8/5/2022 22:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ID_Producto] [int] IDENTITY(1,1) NOT NULL,
	[ID_Categoria] [char](4) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Precio] [decimal](9, 2) NOT NULL,
	[ID_Proveedor] [char](4) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 8/5/2022 22:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[ID_Proveedor] [char](4) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[ID_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categorias] ([ID_Categoria], [Nombre], [Descripcion]) VALUES (N'C-22', N'Labels & Label Supplies', N'Persevering composite alliance')
INSERT [dbo].[Categorias] ([ID_Categoria], [Nombre], [Descripcion]) VALUES (N'C-23', N'Writing Supplies', N'Persevering zero tolerance productivity')
INSERT [dbo].[Categorias] ([ID_Categoria], [Nombre], [Descripcion]) VALUES (N'C-31', N'Envelopes & Boxes', N'Function-based grid-enabled framework')
GO
INSERT [dbo].[Empleados] ([ID_Empleado], [Usuario], [Contraseña], [Departmento], [JefeDepartamento]) VALUES (1, N'user01', N'pass01', N'Sales', N'Dasie Brocket')
INSERT [dbo].[Empleados] ([ID_Empleado], [Usuario], [Contraseña], [Departmento], [JefeDepartamento]) VALUES (2, N'user02', N'pass02', N'Engineering', N'Reidar Packe')
INSERT [dbo].[Empleados] ([ID_Empleado], [Usuario], [Contraseña], [Departmento], [JefeDepartamento]) VALUES (3, N'user03', N'pass03', N'Sales', N'Dasie Brocket')
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ID_Item], [ID_Orden], [ID_Producto], [Cantidad]) VALUES (2502, 992, 79, 4)
INSERT [dbo].[Items] ([ID_Item], [ID_Orden], [ID_Producto], [Cantidad]) VALUES (2503, 967, 12, 8)
INSERT [dbo].[Items] ([ID_Item], [ID_Orden], [ID_Producto], [Cantidad]) VALUES (2504, 962, 75, 25)
GO
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Ordenes] ON 

INSERT [dbo].[Ordenes] ([ID_Orden], [ID_Empleado], [Fecha], [Estado]) VALUES (501, 62, CAST(N'2022-01-24' AS Date), N'Completado')
INSERT [dbo].[Ordenes] ([ID_Orden], [ID_Empleado], [Fecha], [Estado]) VALUES (502, 22, CAST(N'2022-05-12' AS Date), N'Pendiente')
INSERT [dbo].[Ordenes] ([ID_Orden], [ID_Empleado], [Fecha], [Estado]) VALUES (503, 32, CAST(N'2022-06-24' AS Date), N'Pendiente')
GO
SET IDENTITY_INSERT [dbo].[Ordenes] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([ID_Producto], [ID_Categoria], [Nombre], [Descripcion], [Precio], [ID_Proveedor]) VALUES (1, N'C-58', N'Desk supplies', N'Incluso podemos ser osados y emprender grandes luchas a pesar de ser educados y amables.', CAST(294.86 AS Decimal(9, 2)), N'S-72')
INSERT [dbo].[Productos] ([ID_Producto], [ID_Categoria], [Nombre], [Descripcion], [Precio], [ID_Proveedor]) VALUES (2, N'C-58', N'Desk organizers', N'Y, desgraciadamente, es fácil que esa hipótesis sea la que acabe ocurriendo.', CAST(638.24 AS Decimal(9, 2)), N'S-19')
INSERT [dbo].[Productos] ([ID_Producto], [ID_Categoria], [Nombre], [Descripcion], [Precio], [ID_Proveedor]) VALUES (3, N'C-58', N'Desk pads', N'Se puede llevar el caballo al río, pero no se le puede obligar a tomar agua.', CAST(995.49 AS Decimal(9, 2)), N'S-19')
GO
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
INSERT [dbo].[Proveedores] ([ID_Proveedor], [Nombre]) VALUES (N'S-08', N'Chatterpoint')
INSERT [dbo].[Proveedores] ([ID_Proveedor], [Nombre]) VALUES (N'S-19', N'Shuffletag')
INSERT [dbo].[Proveedores] ([ID_Proveedor], [Nombre]) VALUES (N'S-26', N'Talane')
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Orders] FOREIGN KEY([ID_Orden])
REFERENCES [dbo].[Ordenes] ([ID_Orden])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_OrderItem_Orders]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Product] FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[Productos] ([ID_Producto])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_OrderItem_Product]
GO
ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Employee] FOREIGN KEY([ID_Empleado])
REFERENCES [dbo].[Empleados] ([ID_Empleado])
GO
ALTER TABLE [dbo].[Ordenes] CHECK CONSTRAINT [FK_Orders_Employee]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Categorias] ([ID_Categoria])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([ID_Proveedor])
REFERENCES [dbo].[Proveedores] ([ID_Proveedor])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Product_Supplier]
GO
USE [master]
GO
